#left {
    position: relative;
    width: 346px;
    height: 525px;
}

#left:hover {
    transition: transform 0.3s ease;
    transform: rotate(-15deg);

    .heart__frame {
        visibility: visible;
    }
}

.card__image {
    width: 346px;
    height: 525px;
    flex-shrink: 0;
    border-radius: 20px;
}

.heart__frame {
    display: flex;
    position: absolute;
    top: 206px;
    left: 113px;
    width: 120px;
    height: 117px;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.heart__image {
    width: 81px;
    height: 79px;
}

@media(max-width: 1200px) {
    #left {
        width: 234px;
        height: 355px;
    }

    .card__image {
        width: 234px;
        height: 355px;
    }

    .heart__frame {
        top: 139px;
        left: 76px;
        width: 81px;
        height: 79px;
    }

    .heart__image {
        width: 68px;
        height: 61px;
    }
}

@media(max-width: 720px) {
    #left {
        width: 300px;
        height: 222px;
    }

    #left:hover {
        transform: rotate(0deg);

        .heart__frame {
            visibility: visible;
        }
    }

    .card__image {
        width: 300px;
        height: 222px;
    }

    .heart__frame {
        top: 87px;
        left: 124px;
        width: 51px;
        height: 50px;
    }

    .heart__image {
        width: 42px;
        height: 38px;
    }
}

@media(max-width: 380px) {
    #left {
        width: 230px;
        height: 230px;
    }

    .card__image {
        width: 230px;
        height: 230px;
    }

    .heart__frame {
        top: 90px;
        left: 90px;
    }
}