#right {
    position: relative;
    width: 346px;
    height: 525px;
}

#right:hover {
    transform: rotate(15deg);

    .heart__frame {
        visibility: visible;
    }
}

@media(max-width: 1200px) {
    #right {
        width: 234px;
        height: 355px;
    }
}

@media(max-width: 720px) {
    #right {
        width: 300px;
        height: 222px;
    }

    #right:hover {
        transform: rotate(0deg);

        .heart__frame {
            visibility: visible;
        }
    }
}

@media(max-width: 380px) {
    #right {
        width: 230px;
        height: 230px;
    }
}