.statistics {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.statistics__frame {
    transition: all 0.5s ease;
}

.statistics__frame.open {
    opacity: 1;
    visibility: visible;
}

.statistics__frame.close {
    opacity: 0;
    visibility: hidden;
}

.statistics__frame {
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: #FFF;
    gap: 30px;
}

.heading__stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.stats__mainframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media(max-width: 1200px) {
    .statistics {
        display: none;
    }
}

@media(max-width: 960px) {
    .svg__stats {
        width: 18px;
    }
}

@media(max-width: 720px) {
    .statistics {
        display: none;
        gap: 10px;
    }
}

.svg__stats {
    width: 26px;
    height: 26px;
    background-image: url("../../assets/statistics.svg") ;
    z-index: 5;
}

.button__container {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media(max-width: 980px) {
    .button__container {
        width: fit-content;
        height: fit-content;
    }
}