.container__game {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.container__fluid__game {
    width: 1200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.navigation__frame__game {
    position: absolute;
    top: 30px;
    right: 80px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.main__frame__game {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.heading__frame__game {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.head__game {
    color: #998175;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text {
    color: rgba(0, 0, 24, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cards__frame {
    display: flex;
    width: 1200px;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    transition: gap 0.3s ease;
}

.cards__frame:hover {
    gap: 70px;
}

@media(max-width: 1200px) {
    .container__fluid__game {
        width: 960px;
    }

    .cards__frame {
        width: 960px;
    }
}

@media(max-width: 960px) {
    .container__fluid__game {
        width: 720px;
    }

    .cards__frame {
        width: 720px;
    }

    .head__game {
        font-size: 40px;
    }

    .text {
        font-size: 15px;
    }
}

@media(max-width: 720px) {
    .container__fluid__game {
        width: 480px;
    }

    .cards__frame {
        width: 480px;
    }

    .head__game {
        font-size: 36px;
    }

    .text {
        font-size: 14px;
    }

    .navigation__frame__game {
        right: 70px;
        gap: 10px;
    }

    .cards__frame {
        gap: 20px;
    }

    .cards__frame:hover {
        gap: 20px;
    }
}

@media(max-width: 480px) {
    .container__fluid__game {
        width: 380px;
    }

    .cards__frame {
        width: 380px;
    }

    .header {
        width: 360px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 20px;
    }

    .navigation__frame__game {
        position: relative;
        top: 0;
        right: 0;
    }

    .heading__frame__game {
        padding-top: 0;
        align-items: flex-start;
    }

    .cards__frame {
        padding: 30px 0;
    }
}

@media(max-width: 420px) {
    .container__fluid__game {
        width: 380px;
        gap: 20px;
    }

    .main__frame__game {
        width: 380px;
        gap: 20px;
    }

    .header {
        width: 290px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 20px;
    }

    .navigation__frame__game {
        position: relative;
        top: 0;
        right: 0;
    }

    .heading__frame__game {
        padding-top: 0;
        align-items: flex-start;
    }

    .cards__frame {
        padding: 30px 0;
    }

    .head__game {
        font-size: 32px;
    }

    .text {
        font-size: 14px;
    }
}

@media(max-width: 380px) {
    .container__fluid__game {
        width: 290px;
    }

    .cards__frame {
        width: 290px;
    }
}